* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: sans-serif;
}

#piano {
  background-color: #00471b;
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 40px auto;
  position: relative;
}

.logo {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.keys {
  display: flex;
  position: relative;
  margin-top: 60px;
  overflow: visible; /* CRUCIAL pour voir les touches noires */
}

.white-key {
  width: 60px;
  height: 200px;
  background: white;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  overflow: visible; /* Permet aux touches noires de dépasser */
  border-radius: 0 0 5px 5px;
}

.black-key {
  width: 30px;
  height: 120px;
  background: #1d1e22;
  position: absolute;
  top: 0;
  right: -15px;
  z-index: 2;
  border-radius: 0 0 4px 4px;
}

/* Effets visuels */
.white-key:hover,
.black-key:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.white-key:active,
.black-key:active {
  transform: translateY(2px);
}
.credit {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: white;
background: rgba(0, 0, 0, 0.75);
  padding: 8px 12px;
  border-radius: 10px;

  max-width: 90%;

  
  text-align: center;
}

.credit img {
  color: black;
  width: 90px;
  filter: brightness(1.2);
  height: auto;
}
